<footer class="footer">
  <div class="footer-container">
    <div class="footer-socials">
      <a href="https://facebook.com" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://youtube.com" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div>
       <a class="navbar-brand footer-brand" href="/listings">
      <img src="/images/logo.png" alt="Logo" style="height: 27px" />
      <span class="brand-text ms-1">Roamella</span>
    </a>
      <p class="copyright">&copy; 2026 Private Limited</p>
    </div>
    <div class="footer-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>