<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <img src="/images/logo.png" alt="Logo" style="height: 27px" />
      <span class="brand-text ms-1">Roamella</span>
    </a>
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center w-100 gap-2 gap-md-1">
      <form action="/listings/search" method="GET" class="main-search flex-grow-1">
        <div class="search-segment">
          <span class="label">Where</span>
          <input type="text" name="location" placeholder="Search destinations">
        </div>
        <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="d-flex flex-row flex-wrap flex-md-nowrap align-items-center gap-2 mt-2 mt-md-0 auth-row">
        <a href="/listings/new" class="btn host-btn">Host Your Home</a>
        <% if(!currUser){ %> 
          <a class="nav-link" href="/signup"><b>Sign up</b></a> 
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>







<script>
  const segments = document.querySelectorAll(".search-segment");
  segments.forEach(segment => {
    segment.addEventListener("click", () => {
      segments.forEach(s => s.classList.remove("active"));
      segment.classList.add("active");
    });
  });
</script>